<div class="row">
	<div class="col-lg-10">
		<br>
		<div class="panel panel-default">

			<div class="panel-heading">
				<strong>Papel de Seguran&#231;a</strong>
			</div>
			<!-- /.panel-heading -->

			<div class="panel-body">

				<form name="papelForm" novalidate>
					<!-- Mensagens de erro -->
					<div ng-show="temErro" class="alert alert-danger">
						<span>{{mensagem}}</span>
					</div>
					
					<!-- Mensagens de sucesso -->
					<div ng-show="sucesso" class="alert alert-success">
						<span>Opera&#231;&#227;o realizada com sucesso.</span>
					</div>

					<!-- Tab panes -->
					<div class="tab-content">
					
						<!-- Primeira coluna -->
						<div class="col-lg-12">
							
							<!-- Primeira linha -->
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label>Nome</label> 
										<input name="descricao" 
											id="field_descricao"
											type="text"
											ng-model="papel.nome"
											ng-disabled="desabilitar"
											class="form-control"
											maxlength="20"
											required>
									</div>
								</div>
							</div>
							
							<!-- Segunda linha -->
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label>Descri&#231;&#227;o</label> 
										<textarea name="descricao" 
											id="field_descricao"
											type="text"
											ng-model="papel.descricao"
											ng-disabled="desabilitar"
											class="form-control"
											maxlength="150"
											rows="3"
											required>
										</textarea>
									</div>
								</div>
							</div>
							
							<!-- Botoes do CRUD Papel -->
							<div class="row">
								<div class="col-lg-12">
									<button type="button" class="btn btn-success" ng-click="salvar(false)" ng-disabled="desabilitar">Salvar</button>
									<button type="button" class="btn btn-primary" ng-click="salvar(true)" ng-disabled="desabilitar">Salvar e retornar para lista</button>
									<button type="button" class="btn btn-default" ng-click="retornar()">Retornar</button>
								</div>
							</div>
							
							<br>
							
							<div class="dataTable_wrapper">
							
								<!-- Tabela de objetos e permissoes -->
								<table datatable="ng" id="table-permissoes" class="table table-striped table-bordered table-condensed table-responsive nowrap">
									<thead>
										<tr>
											<th>Permiss&#227;o</th>
											<th>Descri&#231;&#227;o</th>
										</tr>
									</thead>
		
									<tbody>
										<tr ng-repeat="perm in papel.permissoes" class="odd gradeX">
											<td>
												
													<input name="encerrado" 
														id="field_encerrado"
														type="checkbox"
														ng-model="perm.permissao"
														ng-change="permitir(perm)"
														ng-disabled="desabilitar">
												
											</td>
											<td>{{perm.objeto.descricao}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</form>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

<script>
	$(document).ready(function() {
		$('#table-permissoes').DataTable({
	    	responsive: true
	    });
	});
</script>