<div class="row">
	<div class="col-lg-6">
		<br>
		<div class="panel panel-default">

			<div class="panel-heading">
				<strong>Solicita&#231;&#245;es por colaborador</strong>
			</div>
			<!-- /.panel-heading -->

			<div class="panel-body">

				<form name="solicitacaoForm" novalidate>
					<!-- Mensagens de erro -->
					<div ng-show="temErro" class="alert alert-danger">
						<span>{{mensagem}}</span>
					</div>
					
					<!-- Mensagens de sucesso -->
					<div ng-show="sucesso" class="alert alert-success">
						<span>Opera&#231;&#227;o realizada com sucesso.</span>
					</div>

					<!-- Tab panes -->
					<div class="tab-content">
					
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Colaborador</label> 
									<select name="colaborador"
										id="field_colaborador"
										ng-model="colaborador"
										class="form-control">
										<option value=""></option>
										<option ng-repeat="col in listaColaboradores" value="{{col.id}}">{{col.nome}}</option>
									</select>
								</div>
							</div>
							
						</div>
					
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Prioridade</label> 
									<select name="prioridade"
										id="field_prioridade"
										ng-model="prioridade"
										class="form-control">
										<option value=""></option>
										<option ng-repeat="pri in listaPrioridades" value="{{pri.id}}">{{pri.descricao}}</option>
										
									</select>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label>Situa&#231;&#227;o</label> 
									<select name="situacao"
										id="field_situacao"
										ng-model="situacao"
										class="form-control">
										<option value=""></option>
										<option ng-repeat="sit in listaSituacoes" value="{{sit.id}}">{{sit.descricao}}</option>
									</select>
								</div>
							</div>
						</div>
						
						<!-- Botoes do CRUD Cliente -->
						<div class="row">
							<div class="col-lg-12">
								<button type="button" class="btn btn-success" ng-click="emitir()" ng-disabled="desabilitar">Emitir Relat&#243;rio</button>
								<button type="button" class="btn btn-default" ng-click="retornar()">Retornar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>