
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Dashboard</h1>
	    </div>
	    <!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	
	<div class="row">
		
	    <div class="col-lg-3 col-md-6" ng-repeat="indicador in listaIndicadores">
	        <div class="panel panel-{{indicador.corPainel}}">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="{{indicador.classeImagem}}"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{indicador.numero}}</div>
	                        <div>{{indicador.descricao}}</div>
	                    </div>
	                </div>
	            </div>
	            <a href="#">
	                <div class="panel-footer">
	                    <span class="pull-left">Ver Detalhes</span>
	                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            </a>
	        </div>
	    </div>
	    
	    <div class="col-lg-6">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                Solicita&#231;&#245;es por Colaborador
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	                <div id="morris-bar-chart"></div>
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	</div>
