<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
		
			<div class="panel-heading">
             	Contato de <span ng-bind="nome"></span>
            </div>

			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
					
						<!-- Mensagens de erro -->
						<div ng-show="temErro" class="alert alert-danger">
							<span ng-show="contatoForm.nome.$error.required">Nome requerido.</span>
							<span ng-show="contatoForm.vinculoFuncao.$error.required">Vinculo ou fun&#231;&#227;o requerido.</span>
							<span ng-bind="mensagem"></span>
						</div>
						
						<!-- Mensagens de sucesso -->
						<div ng-show="sucessoContato" class="alert alert-success">
							<span>Opera&#231;&#227;o realizada com sucesso.</span>
						</div>
							
						<ng-form name="contatoForm" isolate-form>
						
							<ul class="nav nav-tabs">
								<li class="active"><a data-target="#abaDadosCont" data-toggle="tab"><strong>Dados Pessoais</strong></a></li>
								<li><a data-target="#abaEnderecoCont" data-toggle="tab"><strong>Endere&#231;o</a></strong></li>
							</ul>
					
							<div class="tab-content">
							
								<!-- Aba Dados Pessoais -->
								<div class="tab-pane fade in active" id="abaDadosCont">
									<br>
									<div class="row">
										<div class="col-lg-8">
											<div class="form-group">
												<label for="nome">Nome *</label> 
												<input name="nome" 
													id="field_nome"
													type="text"
													ng-model="contato.nome"
													ng-disabled="!emEdicao"
													class="form-control"
													maxlength="100"
													required>
											</div>
										</div>
				
										<div class="col-lg-4">
											<div class="form-group">
												<label>Respons&#225;vel</label>
												<br>
												<input name="responsavel" 
													id="field_responsavel"
													type="checkbox"
													ng-model="contato.responsavel"
													ng-disabled="desabilitar">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label for="vinculoFuncao">Vinculo/Fun&#231;&#227;o *</label> 
												<input name="vinculoFuncao" 
													id="field_vinculoFuncao"
													type="text"
													ng-model="contato.vinculoFuncao"
													ng-disabled="!emEdicao"
													class="form-control"
													maxlength="50"
													required>
											</div>
										</div>
										
										<div class="col-lg-3">
											<div class="form-group">
												<label for="rg">RG</label> 
												<input name="rg" 
													id="field_rg"
													type="text"
													ng-model="contato.rg"
													ng-disabled="!emEdicao"
													class="form-control"
													maxlength="20">
											</div>
										</div>
										
										<div class="col-lg-3">
											<div class="form-group">
												<label for="cpf">CPF</label> 
												<input name="cpf" 
													id="field_cpf"
													type="text"
													ng-model="contato.cpf"
													ng-disabled="!emEdicao"
													class="form-control"
													maxlength="11">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-3">
											<div class="form-group">
												<label for="estadoCivil">Estado Civil</label> 
												<select name="estadoCivil"
													id="field_estadoCivil"
													ng-model="contato.estadoCivil"
													ng-disabled="desabilitar"
													class="form-control">
													<option value=""></option>
													<option ng-repeat="t in listaEstadoCivil" value="{{t.nome}}">{{t.nome}}</option>
												</select>
											</div>
										</div>
										
										<div class="col-lg-6">
											<div class="form-group">
												<label for="email">E-Mail</label> 
												<input name="email" 
													id="field_email"
													type="text"
													ng-model="contato.email"
													ng-disabled="!emEdicao"
													class="form-control"
													maxlength="100">
											</div>
										</div>
										
										<div class="col-lg-3">
											<div class="form-group">
												<label for="dataNascimento">Data Nascimento</label>
												<input name="dataNascimento"
													id="field_dataNascimento"
													type="date" 
													placeholder="dd/MM/yyyy" 
													name="dataNascimento" 
													ng-model="contato.dataNascimento"
													ng-disabled="!emEdicao"
													class="form-control">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label for="telefonePrincipal">Telefone Principal</label>
												<input name="telefonePrincipal"
													id="field_telefonePrincipal"
													type="text"
													ui-mask="(99)9999-9999"
													ng-model="contato.telefonePrincipal"
													ng-disabled="!emEdicao"
													class="form-control">
											</div>
										</div>
										
										<div class="col-lg-4">
											<div class="form-group">
												<label for="telefoneOpcional">Telefone Opcional</label>
												<input name="telefoneOpcional"
													id="field_telefoneOpcional"
													type="text"
													ui-mask="(99)9999-9999"
													ng-model="contato.telefoneOpcional"
													ng-disabled="!emEdicao"
													class="form-control">
											</div>
										</div>
										
										<div class="col-lg-4">
											<div class="form-group">
												<label for="telefoneCelular">Celular</label>
												<input name="telefoneCelular"
													id="field_telefoneCelular"
													type="text"
													ui-mask="(99)99999-9999"
													ng-model="contato.telefoneCelular"
													ng-disabled="!emEdicao"
													class="form-control">
											</div>
										</div>
									</div>
								</div> <!-- Fim abaDados -->
								
								<!-- Aba Endereco -->
								<div class="tab-pane fade" id="abaEnderecoCont">
									<br>
									<div class="row">
										<div class="col-lg-2">
											<div class="form-group input-group">
												<label>CEP</label>
												<input name="cep"
													id="field_cep"
													type="text"
													ng-model="contato.cep"
													ng-disabled="desabilitar"
													maxlength="9"
													ui-mask="99999-999"
													class="form-control">
												<span class="input-group-btn">
			                                		<button style="margin-top: 25px" class="btn btn-default" type="button" 
				                                		ng-click="buscarCepContato(contato.cep)"
				                                		ng-disabled="desabilitar">
			                                			<i class="fa fa-search"></i>
			                                		</button>
			                            		</span>
												
											</div>
										</div>
										
										<div class="col-lg-2">
											<div class="form-group">
												<label>UF</label>
												<select name="uf"
													id="field_uf"
													ng-model="ufContato"
													ng-disabled="desabilitar"
													class="form-control"
													ng-options="estado as estado.id for estado in listaEstados track by estado.id"
													ng-change="buscarMunicipiosContato(ufContato.id)">
												</select>
											</div>
										</div>
										
										<div class="col-lg-3">
											<div class="form-group">
												<label>Municipio</label>
												<select name="municipio"
													id="field_municipio"
													ng-model="contato.municipio"
													ng-disabled="desabilitar"
													class="form-control"
													ng-options="municipio as municipio.nome for municipio in listaMunicipios track by municipio.id">
												</select>
											</div>
										</div>
										
										<div class="col-lg-5">
											<div class="form-group">
												<label>Complemento</label>
												<input name="complemento"
													id="field_complemento"
													type="text"
													ng-model="contato.complemento"
													ng-disabled="desabilitar"
													class="form-control">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label>Endere&#231;o</label>
												<input name="endereco"
													id="field_endereco"
													type="text"
													ng-model="contato.endereco"
													ng-disabled="desabilitar"
													class="form-control">
											</div>
										</div>
										
										<div class="col-lg-2">
											<div class="form-group">
												<label>N&#250;mero</label>
												<input name="numero"
													id="field_numero"
													type="text"
													maxlength="9"
													ng-model="contato.numero"
													ng-disabled="desabilitar"
													class="form-control">
											</div>
										</div>
										
										<div class="col-lg-4">
											<div class="form-group">
												<label>Bairro</label>
												<input name="bairro"
													id="field_bairro"
													type="text"
													ng-model="contato.bairro"
													ng-disabled="desabilitar"
													class="form-control">
											</div>
										</div>
									</div>
								</div>
								
	
								<!-- Botoes do CRUD Cliente -->
								<div class="row">
									<div class="col-lg-12">
										<button type="button" class="btn btn-success" ng-click="salvarContato()" ng-disabled="contatoForm.$invalid">Salvar</button>
										<button type="button" class="btn btn-default" ng-click="cancelar()">Fechar</button>
									</div>
								</div>
							
							</div>
						</ng-form>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-6 -->
</div>